@{
    ViewBag.Title = "PdfGenerator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PdfGenerator</h2>

<div>
    This is an example that generates PDFs from any URL. There is a url fixed on the server side.
</div>

<div>
    <a href="@Url.Action("GeneratePDF")">Generate PDF from any URL</a>
</div>
